.container {
    display: grid;
}

.add, .delete {
    margin: 2px;
    background-color: darkgreen;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
