.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    width: 160px;
}

.header {
    font-family: sans-serif;
}

.items {
    text-align: center;
    min-height: 22px;
    width: 100%;
}
