.container {
    color: white;
    border-radius: 5px;
    background-color: darkgreen;
    margin: 4px;
    padding: 4px;
    font-family: sans-serif;
    position: relative;
    width: 90%;
}

.container:hover .deleteButton {
    visibility: visible;
}

.deleteButton {
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
    visibility: hidden;
}
