.tabs {
    background-color: green;
    padding: 8px 8px 0 8px;
}

.buttons {
    background-color: green;
    border: 0;
    border-radius: 2px 2px 0 0;
    color: white;
    cursor: pointer;
    padding: 2px 8px;
}

.buttons:hover, .buttons:active {
    background-color: darkgreen;
}

.selectedButton {
    background-color: white;
    color: black;
}

.selectedButton:hover, .selectedButton:active {
    background-color: darkgreen;
    color: white;
}
