.suggestion {
    background-color: white;
    border: 1px solid darkblue;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 12px 16px 12px 16px;
}

.suggestion:hover {
    background-color: lightblue;
}

.suggestion:active {
    background-color: cornflowerblue;
}

.suggestion:active .courseCode {
    color: white;
    text-align: right;
}

.courseName {
    color: black;
    text-align: left;
}

.courseCode {
    color: grey;
    text-align: right;
}

